﻿@using WEB.Models
@using DBReader
@model GameModel
@{
    ViewBag.Title = "Boxscore";
    var GameModel = Model.Game;
    var PlayerModel = Model.Game.Teams[0].Players;
    var TeamModel = Model.Game.Teams[0].Team;
    var columnsTitles = new[] { "#", "Name", "Min", "Pts", "2FG", "3FG", "FT", "OR", "DR", "TR", "AS", "ST", "TO", "Fv", "Ag", "Cm", "Rv", "PIR" };
    var AdvColumnTitles = new[] { "#", "Name", "Min", "Pts", "PlPos", "TeamPos", "Usage", "PtsPos", "Off", "Def", "Net", "PIE", "+/-" };
    var columnsTitlesTop = new[] { "", "", "", "", "", "", "", "", "", "", "", "", "", "", "Blocks", "", "", "" };
    var AdvTitlesTop = new[] { "", "", "", "", "Possessions", "", "Ratings", ""};
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            FillBoxChart("GetChartFg2Data", "chartdiv2", 70, 30, 85);
            FillBoxChart("GetChartFg3Data", "chartdiv3", 60, 15, 85);
            FillBoxChart("GetChartFTData", "chartdiv4", 100, 50, 85);
            FillBoxChart("GetChartRebData", "chartdiv5", 50, 25, 70);
            FillBoxChart("GetChartPIRData", "chartdiv6", 150, 20, 85);
            FillBoxChart("GetChartNETData", "chartdiv7", 30, -30, 65);
            FillBoxChart("GetChartPPOSData", "chartdiv8", 2, 0, 35);
            FillPIEChart("GetChartPIEData", "chartdiv9", 2, 0, 35);
     });
    </script>
}

<div class="center-content">
    <article class="boxscore-stats" role="tabpanel">        
        <ul class="nav nav-tabs navbar-right games-page-tabs" role="tablist">          
        </ul>       
        <div class="tab-content">  
            <h4>@GameModel.Game.HomeTeam - @GameModel.Game.AwayTeam @GameModel.Game.HomeScore:@GameModel.Game.AwayScore</h4>   
             <div class ="gameinfo">@GameModel.Game.Date, @GameModel.Game.Stage, @GameModel.Game.Round</div>  
              <div class="boxscore">
                  @for (int j = 0; j < GameModel.Teams.Length; j++)
                  {
                   <table> 
                       <tr>
                        @for (int i = 0; i < columnsTitlesTop.Length - 5; i++)
                        {                                           
                            <th>@columnsTitlesTop[i]</th>
                        }
                             <th colspan="2">Blocks</th>
                             <th colspan="2">Fouls</th> 
                             <th></th>
                        </tr>
                        <tr>
                        @for (int i = 0; i < columnsTitles.Length; i++)
                        {                                           
                            <th>@columnsTitles[i]</th>
                        }
                        </tr>
                        @for (int i = 0; i < Model.Game.Teams[j].Players.Length; i++)
                            {
                                 <tr class="m1">
                                 <td class="img"><img src="@GameModel.Teams[j].Players[i].Logo" /></td>                                
                                 <td class="f1 @(GameModel.Teams[j].Players[i].Starter == true ? "five" : null)">@GameModel.Teams[j].Players[i].Name</td>
                                 <td class="d1">@GameModel.Teams[j].Players[i].BoxMin</td>
                                 <td class="p1 sorted">@GameModel.Teams[j].Players[i].Pts</td>
                                 <td class="d1">@(GameModel.Teams[j].Players[i].FG2M + "/" + GameModel.Teams[j].Players[i].FG2A)</td>                                 
                                 <td class="d1">@(GameModel.Teams[j].Players[i].FG3M + "/" + GameModel.Teams[j].Players[i].FG3A)</td>                                  
                                 <td class="d1">@(GameModel.Teams[j].Players[i].FTM + "/" + GameModel.Teams[j].Players[i].FTA)</td>                                
                                 <td class="p1">@GameModel.Teams[j].Players[i].OR</td>  
                                 <td class="p1">@GameModel.Teams[j].Players[i].DR</td>   
                                 <td class="p1">@GameModel.Teams[j].Players[i].TR</td>
                                 <td class="p1">@GameModel.Teams[j].Players[i].AS</td>  
                                 <td class="p1">@GameModel.Teams[j].Players[i].ST</td>   
                                 <td class="p1">@GameModel.Teams[j].Players[i].TO</td> 
                                 <td class="p1">@GameModel.Teams[j].Players[i].BlFv</td>
                                 <td class="p1">@GameModel.Teams[j].Players[i].BlAg</td>  
                                 <td class="p1">@GameModel.Teams[j].Players[i].FlCm</td>   
                                 <td class="p1">@GameModel.Teams[j].Players[i].FlRv</td> 
                                 <td class="p1 sorted">@GameModel.Teams[j].Players[i].PIR</td>                            
                                 </tr>                                                                   
                            }    
                                                            
                                    
                                 <tr class="m1 s1">
                                 <td class="img"></td>                                
                                 <td class="f1"><b>TEAM</b></td>
                                 <td class="d1">@GameModel.Teams[j].Team.Min</td>
                                 <td class="p1 sorted">@GameModel.Teams[j].Team.Pts</td>
                                 <td class="d1">@(GameModel.Teams[j].Team.FG2M + "/" + GameModel.Teams[j].Team.FG2A)</td>                                 
                                 <td class="d1">@(GameModel.Teams[j].Team.FG3M + "/" + GameModel.Teams[j].Team.FG3A)</td>                                  
                                 <td class="d1">@(GameModel.Teams[j].Team.FTM + "/" + GameModel.Teams[j].Team.FTA)</td>                                
                                 <td class="p1">@GameModel.Teams[j].Team.OR</td>  
                                 <td class="p1">@GameModel.Teams[j].Team.DR</td>   
                                 <td class="p1">@GameModel.Teams[j].Team.TR</td>
                                 <td class="p1">@GameModel.Teams[j].Team.AS</td>  
                                 <td class="p1">@GameModel.Teams[j].Team.ST</td>   
                                 <td class="p1">@GameModel.Teams[j].Team.TO</td> 
                                 <td class="p1">@GameModel.Teams[j].Team.BlFv</td>
                                 <td class="p1">@GameModel.Teams[j].Team.BlAg</td>  
                                 <td class="p1">@GameModel.Teams[j].Team.FlCm</td>   
                                 <td class="p1">@GameModel.Teams[j].Team.FlRv</td> 
                                 <td class="p1 sorted">@GameModel.Teams[j].Team.PIR</td>                            
                                 </tr>                               
                        </table>
                      <div style="clear:left;"></div>            
                  }
                   <div class="index-top-charts">                   
                   <div id="chartdiv2"></div>
                   <div id="chartdiv3"></div>
                   <div id="chartdiv4"></div>
                   <div id="chartdiv5"></div>
                   </div> 
                  @for (int j = 0; j < GameModel.Teams.Length; j++)
                  {
                   <table> 
                       <tr>
                        @for (int i = 0; i < AdvTitlesTop.Length - 4; i++)
                        {                                           
                            <th class = "b2">@AdvTitlesTop[i]</th>
                        }
                             <th class = "b2" colspan="2">Possessions</th>
                             <th class = "b2"></th>
                             <th class = "b2"></th> 
                             <th class = "b2" colspan="3">Ratings</th>
                             <th class = "b2"></th>
                             <th class = "b2"></th>
                        </tr>
                        <tr>
                        @for (int i = 0; i < AdvColumnTitles.Length; i++)
                        {                                           
                            <th class = "b2">@AdvColumnTitles[i]</th>
                        }
                        </tr>
                        @for (int i = 0; i < Model.Game.Teams[j].Players.Length; i++)
                        {                            
                                 <tr class="m1">
                                 <td class="img"><img src="@GameModel.Teams[j].Players[i].Logo" /></td>                                
                                 <td class="f1 @(GameModel.Teams[j].Players[i].Starter == true ? "five" : null)">@GameModel.Teams[j].Players[i].Name</td>
                                 <td class="t1">@GameModel.Teams[j].Players[i].BoxMin</td>
                                 <td class="p1">@GameModel.Teams[j].Players[i].Pts</td>
                                 <td class="d1">@GameModel.Teams[j].Players[i].plPos</td>                                 
                                 <td class="d1">@GameModel.Teams[j].Players[i].teamPosPl</td>                                  
                                 <td class="t1">@GameModel.Teams[j].Players[i].Usage.ToString("0.00").Replace(",", ".")%</td>                                
                                 <td class="t1">@GameModel.Teams[j].Players[i].PPOS.ToString("0.00").Replace(",", ".")</td>  
                                 <td class="t1 b1">@GameModel.Teams[j].Players[i].OffRtg.ToString("0.00").Replace(",", ".")</td>   
                                 <td class="t1 b1">@GameModel.Teams[j].Players[i].DefRtg.ToString("0.00").Replace(",", ".")</td>
                                 <td class="t1 b1">@GameModel.Teams[j].Players[i].NetRtg.ToString("0.00").Replace(",", ".")</td>  
                                 <td class="t1">@GameModel.Teams[j].Players[i].PIE.ToString("0.00").Replace(",", ".")</td>  
                                 <td class="t1 sorted">@GameModel.Teams[j].Players[i].PlusMinus</td>                                                        
                                 </tr>                                                                   
                        }    
                                                            
                                    
                                 <tr class="m1 s1">
                                 <td class="img"></td>                                
                                 <td class="f1"><b>TEAM</b></td>
                                 <td class="t1">@GameModel.Teams[j].Team.Min</td>
                                 <td class="p1">@GameModel.Teams[j].Team.Pts</td>                                                                
                                 <td class="d1">@GameModel.Teams[j].Team.Poss</td>  
                                 <td class="d1"></td>   
                                 <td class="t1"></td>
                                 <td class="t1">@GameModel.Teams[j].Team.PPOS.ToString("0.00").Replace(",", ".")</td>  
                                 <td class="t1 b1">@GameModel.Teams[j].Team.OffRtg.ToString("0.00").Replace(",", ".")</td>   
                                 <td class="t1 b1">@GameModel.Teams[j].Team.DefRtg.ToString("0.00").Replace(",", ".")</td> 
                                 <td class="t1 b1">@GameModel.Teams[j].Team.NetRtg.ToString("0.00").Replace(",", ".")</td>
                                 <td class="t1">@GameModel.Teams[j].Team.PIE.ToString("0.00").Replace(",", ".")</td>  
                                 <td class="t1 sorted"></td>                                                            
                                 </tr>                               
                        </table>
                  }
                  <div class="index-top-charts">                   
                   <div id="chartdiv6"></div>
                   <div id="chartdiv7"></div>
                   <div id="chartdiv8"></div> 
                   <div id="chartdiv9"></div>                    
                   </div> 
              </div>          
        </div>
    </article>
    

    <div style="clear: left;"></div>
</div>

