﻿﻿@using WEB.Models
@model GamesPageModel
@{
    ViewBag.Title = "Games";
}
@helper groupid(int i)
{
	@("games-stage-" + i);
}

<div class="center-content">
	<article class="other-page-center" role="tabpanel">
		<ul class="nav nav-tabs navbar-right games-page-tabs" role="tablist">
			@for (int i = 0; i < Model.Stages.Length; i++)
			{
				<li role="presentation" class="@(i==0?"active":null)">
					<a href="#@groupid(i)" aria-controls="@groupid(i)" role="tab" data-toggle="tab">
						@Model.Stages[i].Title
					</a>
				</li>
			}
		</ul>

		<h1>Games</h1>

		<div class="tab-content">
			@for (int tabNum = 0; tabNum < Model.Stages.Length; tabNum++)
			{
				var item = Model.Stages[tabNum];
				<div role="tabpanel" class="games-tours tab-pane fade @(tabNum == 0 ? "in active" : null)" id="@groupid(tabNum)">
					@foreach (var tour in item.Groups)
					{
						<div class="group_title">@tour.Title</div>
						<div class="tour">
							@Html.Partial("_IndexResultsTour", tour.Results)
						</div>
					}
				</div>
			}
		</div>
	</article>

	<aside class="other-page-aside">
		@Html.Partial("_IndexTop25Block", Model.PLUSMINUS)
	</aside>

    <div style="clear:left;"></div>
</div>