﻿@using WEB.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            FillDefOffChart();
            FillPaceChart();
     });
    </script>
}

<div class="center-content index-page">
	<div class="index-col1">

		<a class="top1-news-item" 
		   style="background-image: url(@Model.News[0].Image_big)"
		   href="@Url.Action("News", "Home", new { id = @Model.News[0].Id })">			
			<div class="title">@Model.News[0].Name</div>
		</a>

        @for (int j = 1; j < Model.News.Length; j++)
        {
            <a class="index-col1-small top2-news-item"
			   style="background-image: url(@Model.News[j].Image_small)"
			   href="@Url.Action("News", "Home", new { id = @Model.News[j].Id })">				
				<div class="title">@Model.News[j].Name</div>
			</a>
        }
	
		<div style="clear:left;"></div>
		

		<div class="index-col1-half">
			@Html.Partial("_IndexStandings", Model.Standings)
		</div>
		<div class="index-col1-half">
			@Html.Partial("_IndexTop5Block", Model.OFFRTG)
			@Html.Partial("_IndexTop5Block", Model.USAGE)
		</div>
		<div style="clear:left;"></div>
	</div>

	<div class="index-col2" style="margin-top:-5px;">
		@Html.Partial("_IndexTop5Block", Model.SCORES)
		<div class="col2-banner">.</div>
		@Html.Partial("_IndexTop5Block", Model.REB)
		@Html.Partial("_IndexTop5Block", Model.DEFRTG)
		@Html.Partial("_IndexTop5Block", Model.PIE)
	</div>

	<div class="index-col3">
		@Html.Partial("_IndexResults", Model.Results)
		<div class="col2-banner">.</div>
		@Html.Partial("_IndexTop5Block", Model.ASSISTS)
		@Html.Partial("_IndexTop5Block", Model.NETRTG)
		@Html.Partial("_IndexTop5Block", Model.PACE)        
	</div>   

	<div style="clear:left;"></div>
    <div class="index-top-charts">
    <div class="title">TEAM PACE (POSSESSION NUMBER PER 40 MINUTES)</div>
    <div id="chartdiv1"></div>
    </div>
    <div class="index-top-charts">
    <div class="title">TEAM RATINGS (OFFENSIVE/DEFENSIVE POINTS PER 100 PSSESSIONS)</div>
    <div id="chartdiv"></div>
    </div>   
</div>

