﻿@using WEB.Models
@model NewsModel
@{
    ViewBag.Title = Model.Name;
}

<div class="center-content">
	<article class="news-page-center" role="tabpanel">
		<div class="news-content">
            <div class="news-top">
                @Model.Name
            </div>
            <img src="@Model.Image_big"/>
			@Html.Raw(Model.Text)
		</div>
	</article>

	<aside class="news-page-aside">
        <div class="twitter">
		    <a class="twitter-timeline" href="https://twitter.com/Euroleague" data-widget-id="612418356793225216" width = "325" height ="1060">Tweets by Euroleague</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            <script>
            window.setTimeout(function(){
            $(".twitter-timeline").contents().find(".e-entry-title").css("font-size","12px");           
            }, 1000);
            </script>
	    </div>
    </aside>

    <div style="clear:left;"></div>
</div>
