﻿@using WEB.Models
@using DBReader
@model PlayerListModel
@{
   
}

<div class="center-content">
    <article class="players-stats" role="tabpanel">    
        <div class="tab-content"> 
            @foreach (var team in Model.tpModel)
			{
                <div class = "team">                  
                <img src="@team.Logo" /><br>                
               
                <table>     
                @for (int i = 0; i < team.PlayersList.Length; i++)
                {                         
                    <tr>                   
					<td class="pl"><a href = "@Url.Action("Player", "Home", new { id = team.PlayersList[i].Id })">@team.PlayersList[i].Name</a></td>					
					<td class="pos"><a href = "@Url.Action("Player", "Home", new { id = team.PlayersList[i].Id })">@team.PlayersList[i].Position</a></td>
                    </tr>                    
                }     
                </table>                
                </div>
                			
			}
        </div>       
    </article>
    <div style="clear: left;"></div>
</div>



