﻿@using WEB.Models
@using DBReader
@model PlayerProfileModel
@{    
    var columnsTitles = new[] { "", "Name", "Min", "Pts", "FG2", "FG3", "FT", "OR", "DR", "TR", "AS", "ST", "TO", "BlFv", "BlAg", "FlCm", "FlRv", "PIR"};
    var gamesTitles = new[] { "Date", "Team", "Score", "Res", "Min", "Pts", "FG2", "FG3", "FT", "OR", "DR", "TR", "AS", "ST", "TO", "BlFv", "BlAg", "FlCm", "FlRv", "PIR" };
    var AdvColumnTitles = new[] { "FG2", "FG3", "FT", "EFG", "TS", "OfReb", "DefReb", "TotReb", "OFFRtg", "DEFRtg", "NETRtg", "PlPos", "TeamPos", "PtsPos", "TOPos", "Usage", "PIE", "+/-" };    
    var AdvTitlesTop = new[] { "", "", "", "", "Possessions", "", "Ratings", "" };
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            FillPlayerChart(@Model.statModel.PlayerId);
     });
    </script>
}

<div class="center-content">
    <article class="players-stats" role="tabpanel">    
        <div class="tab-content"> 
             <div class = "player">                  
                 <img src="@Model.statModel.Image"/>
                 <table>
                     <tr>
                         <td>TEAM: <b>@Model.statModel.Team</b></td>
                         <td>POINTS: <b>@Model.statModel.Pts.ToString("0.0").Replace(",",".")</b> PPG</td> 
                     </tr>
                     <tr>
                         <td>POSITION: <b>@Model.statModel.Position</b></td>
                         <td>REBOUNDS: <b>@Model.statModel.TR.ToString("0.0").Replace(",",".")</b> RPG</td> 
                     </tr>
                     <tr>
                         <td>HEIGHT: <b>@Model.statModel.Height</b></td>
                         <td>ASSISTS:<b>@Model.statModel.AS.ToString("0.0").Replace(",",".")</b> APG</td> 
                     </tr>
                     <tr>
                         <td>BORN: <b>@Model.statModel.Age</b></td>
                         <td>EFFICENCY: <b>@Model.statModel.PIR.ToString("0.0").Replace(",",".")</b> PIR</td> 
                     </tr>
                 </table>
             </div>
             <div class="boxscore">
                 <table>                       
                       <tr>
                       @for (int i = 0; i < columnsTitles.Length; i++)
                       {                                           
                            <th>@columnsTitles[i]</th>
                       }
                       </tr>
                       <tr class="z1">
                           <td class="img"><img src="@Model.statModel.Logo" /></td>                                
                           <td class="y1">@Model.statModel.Name</td>
                           <td class="d1">@Model.statModel.BoxMin</td>
                           <td class="p1">@Model.statModel.Pts.ToString("0.0").Replace(",",".")</td>
                           <td class="d1">@(Model.statModel.FG2M.ToString("0.0").Replace(",",".") + "/" + Model.statModel.FG2A.ToString("0.0").Replace(",","."))</td>                                 
                           <td class="d1">@(Model.statModel.FG3M.ToString("0.0").Replace(",",".") + "/" + Model.statModel.FG3A.ToString("0.0").Replace(",","."))</td>                                  
                           <td class="d1">@(Model.statModel.FTM.ToString("0.0").Replace(",",".") + "/" + Model.statModel.FTA.ToString("0.0").Replace(",","."))</td>                                
                           <td class="p1">@Model.statModel.OR.ToString("0.0").Replace(",",".")</td>  
                           <td class="p1">@Model.statModel.DR.ToString("0.0").Replace(",",".")</td>   
                           <td class="p1">@Model.statModel.TR.ToString("0.0").Replace(",",".")</td>
                           <td class="p1">@Model.statModel.AS.ToString("0.0").Replace(",",".")</td>  
                           <td class="p1">@Model.statModel.ST.ToString("0.0").Replace(",",".")</td>   
                           <td class="p1">@Model.statModel.TO.ToString("0.0").Replace(",",".")</td> 
                           <td class="p1">@Model.statModel.BlFv.ToString("0.0").Replace(",",".")</td>
                           <td class="p1">@Model.statModel.BlAg.ToString("0.0").Replace(",",".")</td>  
                           <td class="p1">@Model.statModel.FlCm.ToString("0.0").Replace(",",".")</td>   
                           <td class="p1">@Model.statModel.FlRv.ToString("0.0").Replace(",",".")</td> 
                           <td class="p1">@Model.statModel.PIR.ToString("0.0").Replace(",",".")</td> 
                       </tr>
                     </table>
                     <table>
                       <tr>
                       @for (int i = 0; i < columnsTitles.Length; i++)
                       {                                           
                            <th>@AdvColumnTitles[i]</th>
                       }
                       </tr>                     
                       <tr class="z1">
                           <td class="p1">@Model.statModel.FG2Perc.ToString("0.0").Replace(",",".")%</td>                                
                           <td class="p1">@Model.statModel.FG3Perc.ToString("0.0").Replace(",",".")%</td>
                           <td class="p1">@Model.statModel.FTPerc.ToString("0.0").Replace(",",".")%</td>
                           <td class="p1">@Model.statModel.EFG.ToString("0.0").Replace(",",".")%</td>
                           <td class="p1">@Model.statModel.TS.ToString("0.0").Replace(",",".")%</td>                                 
                           <td class="p1">@Model.statModel.ORebPerc.ToString("0.0").Replace(",",".")%</td>                                  
                           <td class="p1">@Model.statModel.DRebPers.ToString("0.0").Replace(",",".")%</td>                                
                           <td class="p1">@Model.statModel.TRebPerc.ToString("0.0").Replace(",",".")%</td>  
                           <td class="p1">@Model.statModel.OffRtg.ToString("0.0").Replace(",",".")</td>   
                           <td class="p1">@Model.statModel.DefRtg.ToString("0.0").Replace(",",".")</td>
                           <td class="p1">@Model.statModel.NetRtg.ToString("0.0").Replace(",",".")</td>  
                           <td class="p1">@Model.statModel.plPos.ToString("0.0").Replace(",",".")</td>   
                           <td class="p1">@Model.statModel.teamPosPl.ToString("0.0").Replace(",",".")</td> 
                           <td class="p1">@Model.statModel.PPOS.ToString("0.0").Replace(",",".")</td>
                           <td class="p1">@Model.statModel.ToPos.ToString("0.0").Replace(",",".")</td>  
                           <td class="p1">@Model.statModel.Usage.ToString("0.0").Replace(",",".")%</td>   
                           <td class="p1">@Model.statModel.PIE.ToString("0.0").Replace(",",".")%</td> 
                           <td class="p1">@Model.statModel.PlusMinus.ToString("0.0").Replace(",",".")</td> 
                       </tr>  
                 </table>
                 <table>
                     <tr>
                         @for (int i = 0; i < gamesTitles.Length; i++)
                         {                                           
                            <th class = "b2">@gamesTitles[i]</th>
                         }
                     </tr>
                     @for (int i = 0; i < Model.gamesModel.Length; i++)
                        {                     
                                 <tr class="m1">                                                                 
                                 <td class="t1">@Model.gamesModel[i].Date</td>
                                 <td class="t1">@Model.gamesModel[i].Place @Model.gamesModel[i].OppTeam</td>
                                 <td class="p1">@Model.gamesModel[i].Score1 - @Model.gamesModel[i].Score2</td>
                                 <td class="p1">@Model.gamesModel[i].Result</td>                                 
                                 <td class="p1">@Model.gamesModel[i].BoxMin</td>                                 
                                 <td class="p1">@Model.gamesModel[i].Pts</td>                                  
                                 <td class="p1">@Model.gamesModel[i].FG2M/@Model.gamesModel[i].FG2A</td>                                
                                 <td class="p1">@Model.gamesModel[i].FG3M/@Model.gamesModel[i].FG3A</td>  
                                 <td class="p1">@Model.gamesModel[i].FTM/@Model.gamesModel[i].FTA</td>
                                 <td class="p1">@Model.gamesModel[i].OR</td>   
                                 <td class="p1">@Model.gamesModel[i].DR</td>
                                 <td class="p1">@Model.gamesModel[i].TR</td>  
                                 <td class="p1">@Model.gamesModel[i].AS</td>  
                                 <td class="p1">@Model.gamesModel[i].ST</td>  
                                 <td class="p1">@Model.gamesModel[i].TO</td>   
                                 <td class="p1">@Model.gamesModel[i].BlFv</td>
                                 <td class="p1">@Model.gamesModel[i].BlAg</td>  
                                 <td class="p1">@Model.gamesModel[i].FlCm</td>  
                                 <td class="p1">@Model.gamesModel[i].FlRv</td>     
                                 <td class="p1">@Model.gamesModel[i].PIR</td>                                                 
                                 </tr>                                                                   
                        }    
                 </table>
             </div>  
            <div class="index-top-charts">                   
                   <div id="chartdiv10"></div>                          
             </div>  
        </div>       
    </article>
    <div style="clear: left;"></div>
</div>
