﻿@using WEB.Models
@model StandingsInfo

<div class="index-standings">
	<div class="title">
		STANDINGS
	</div>
	@for (int i = 0; i < Model.TeamGroups.Length; i++)
	{
		var group = Model.TeamGroups[i];
		<div class="group_title @(i==0?"first":"next")">@group.Name</div>
		<table>
			@for (int j = 0; j < group.Teams.Length; j++)
			{
				<tr>
					<td class="s1">@(j + 1).</td>
					<td><img src="@group.Teams[j].Logo" /></td>
					<td class="s1">@group.Teams[j].Name</td>
                    <td class="t1">@group.Teams[j].Wins</td>
                    <td class="t1">@group.Teams[j].Loses</td>
                    <td class="t1">@group.Teams[j].Perc</td>
				</tr>
			}
		</table>
	}
</div>
