﻿@using WEB.Models
@model TrPlayerStatsStage
@{
    var columnsSorts = new[] { "", "Name", "PIR", "PPG", "RPG", "APG", "SPG", "BPG", "PLUS_MINUS", "MPG" };
    var columnsTitles = new[] { "#", "Name", "PIR", "PPG", "RPG", "APG", "SPG", "BPG", "+/-", "MPG" };    
}

TEAM:
    <select class="selectpicker">
         @{
         <option>@(Model.Paging.Team == null ? "*" : @Model.Paging.Team)</option>
             if ((Model.Paging.Team != null) && (Model.Paging.Team != "*"))
             {
                 <option>*</option>
             }
         }
        @for (int k = 0; k < Model.Teams.Length; k++)
        {
            if (Model.Teams[k] != Model.Paging.Team)
            {
                <option>@Model.Teams[k]</option>
            }
        }
     </select>

<div class="index-traditional-stats" data-link-url="/Home/TraditionalPart">
    <table class="server-sortable">
        <tr>
            @for (int i = 0; i < columnsSorts.Length; i++)
            {
                string sortClass = Model.Paging.SortField == columnsSorts[i] ? "sorted-" + Model.Paging.SortDirection : null;
                
                <th><a href="#" data-sortfield="@columnsSorts[i]" class="header @sortClass">@columnsTitles[i]</a></th>
            }
        </tr>
        @for (int j = 0; j < Model.Stats.Length; j++)
        {
            <tr class="m1">
                <td class="p1">@(j + 1 + Model.Paging.CurrentPageIndex * Model.Paging.PageSize).</td>

                <td class="f1">@Model.Stats[j].Name</td>
                <td class="c1 @(Model.Paging.SortField == "PIR" ? "sorted" : null)">@Model.Stats[j].PIR.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "PPG" ? "sorted" : null)">@Model.Stats[j].PPG.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "RPG" ? "sorted" : null)">@Model.Stats[j].RPG.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "APG" ? "sorted" : null)">@Model.Stats[j].APG.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "SPG" ? "sorted" : null)">@Model.Stats[j].SPG.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "BPG" ? "sorted" : null)">@Model.Stats[j].BPG.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "PLUS_MINUS" ? "sorted" : null)">@Model.Stats[j].PLUS_MINUS.ToString("0.00").Replace(",", ".")</td>
                <td class="s1 @(Model.Paging.SortField == "MPG" ? "sorted" : null)">@Model.Stats[j].MPG</td>
                <td class="img">
                    <img src="@Model.Stats[j].TeamLogo" /></td>
            </tr>                                                                   
        }        
    </table>    
    <div class ="pager-align"> 
    <ul class="pagination">
         
         @for (var i = 0; i < @Model.Paging.PageCount; i++)
         {
             if (i == @Model.Paging.CurrentPageIndex)
             {
                 <li class="disabled"><a href="#">@(i + 1)</a></li>
             }
             else
             {
                  <li class="active"><a href="#" data-pageindex="@i"  class="pager" style ="cursor: auto">@(i + 1)</a></li>
             }
         }           
    </ul>
    </div>   
</div>

