﻿@using WEB.Models
@model ResultsInfo

<div class="index-results">
	<div class="title">
		RESULTS
	</div>
    <div class="center-wrap">
    <div class="center-inner">
	@for (int i = 0; i < Model.Groups.Length; i++)
	{
		var group = Model.Groups[i];
		<div class="group_title @(i==0?"first":"next")">@group.Title</div>
		<table>
			@for (int j = 0; j < group.Results.Length; j++)
			{
				var res = group.Results[j];
				<tr>
                    <td class="img"><img src="@res.HomeLogo" /></td>
					<td class="t1">@res.Team1Name</td>
					<td class="s1">@res.Team1Score</td>
					<td class="s3">:</td>
					<td class="s2">@res.Team2Score</td>
					<td class="t2">@res.Team2Name</td>
                    <td class="img"><img src="@res.AwayLogo" /></td>
				</tr>
			}
		</table>
	}
    </div>
    </div>
</div>
