﻿﻿@using WEB.Models
@model Result[]

<div class="index-results-tours">
	<table>
		@for (int j = 0; j < Model.Length; j++)
		{
            var res = Model[j];
			<tr class = "m1">
                <td class="date">@res.Date</td>
			    <td class="t1 @(res.Team1Score > res.Team2Score ? "win" : null)">@res.Team1Name</td>
			    <td class="img"><img src="@res.HomeLogo" /></td>
                <td class="s1"><a href = "@Url.Action("Boxscore", "Home", new { id = res.GameId })">@(res.Team1Score.ToString() + " : " + res.Team2Score.ToString())</a></td>              
                <td class="img"><img src="@res.AwayLogo" /></td>
			    <td class="t2 @(res.Team2Score > res.Team1Score ? "win" : null)">@res.Team2Name</td>
			</tr>
		}
	</table>
</div>

