﻿@using WEB.Models
@model PosPlayerStatsStage
@{
    var columnsSorts = new[] { "", "Name", "Usage", "PlayerPossessions", "TeamPossessions", "Pace", "PtsPos", "ToPos", "Games" };
    var columnsTitles = new[] { "#", "Name", "Usg%", "PlPos", "TeamPos", "Pace", "Pts/Pos", "To/Pos", "Gm"};    
}

    TEAM:
    <select class="selectpicker">
         @{
         <option>@(Model.Paging.Team == null ? "*" : @Model.Paging.Team)</option>
             if ((Model.Paging.Team != null) && (Model.Paging.Team != "*"))
             {
                 <option>*</option>
             }
         }
        @for (int k = 0; k < Model.Teams.Length; k++)
        {
            if (Model.Teams[k] != Model.Paging.Team)
            {
                <option>@Model.Teams[k]</option>
            }
        }
     </select>

<div class="index-traditional-stats" data-link-url="/Home/PossessionsPart">
     
    <table class="server-sortable">      
        <tr>
            @for (int i = 0; i < columnsSorts.Length; i++)
            {
                string sortClass = Model.Paging.SortField == columnsSorts[i] ? "sorted-" + Model.Paging.SortDirection : null;
                
                <th><a href="#" data-sortfield="@columnsSorts[i]" class="header @sortClass">@columnsTitles[i]</a></th>
            }
        </tr>
        @for (int j = 0; j < Model.Stats.Length; j++)
        {
            <tr class="m1">
                <td class="p1">@(j + 1 + Model.Paging.CurrentPageIndex * Model.Paging.PageSize).</td>

                <td class="f1">@Model.Stats[j].Name</td>
                <td class="d1 @(Model.Paging.SortField == "Usage" ? "sorted" : null)">@Model.Stats[j].Usage.ToString("0.00").Replace(",", ".")%</td>
                <td class="d1 @(Model.Paging.SortField == "PlayerPossessions" ? "sorted" : null)">@Model.Stats[j].PlayerPossessions</td>
                <td class="d1 @(Model.Paging.SortField == "TeamPossessions" ? "sorted" : null)">@Model.Stats[j].TeamPossessions</td>
                <td class="d1 @(Model.Paging.SortField == "Pace" ? "sorted" : null)">@Model.Stats[j].Pace.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "PtsPos" ? "sorted" : null)">@Model.Stats[j].PtsPos.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "ToPos" ? "sorted" : null)">@Model.Stats[j].ToPos.ToString("0.00").Replace(",", ".")</td>
                <td class="c1 @(Model.Paging.SortField == "Games" ? "sorted" : null)">@Model.Stats[j].Games</td>                
                <td class="img">
                    <img src="@Model.Stats[j].Logo" /></td>
            </tr>                                                                   
        }        
    </table>    
    <div class ="pager-align"> 
    <ul class="pagination">
         
         @for (var i = 0; i < @Model.Paging.PageCount; i++)
         {
             if (i == @Model.Paging.CurrentPageIndex)
             {
                 <li class="disabled"><a href="#">@(i + 1)</a></li>
             }
             else
             {
                  <li class="active"><a href="#" data-pageindex="@i"  class="pager" style ="cursor: auto">@(i + 1)</a></li>
             }
         }           
    </ul>
    </div>   
</div>