﻿@using WEB.Models
@model AdvTeamStatsStage
@{
    var columnsSorts = new[] { "", "Name", "PIR", "OffRtg", "DefRtg", "NetRtg", "PIE", "Pace", "OffRebPerc", "DefRebPerc"};
    var columnsTitles = new[] { "#", "Name", "PIR", "OffRtg", "DefRtg", "NetRtg", "PIE", "Pace", "OffR%", "DefR%"};    
}  
   

<div class="index-traditional-stats" data-link-url="/Home/TeamsAdvancedPart">
     
    <table class="server-sortable">      
        <tr>
            @for (int i = 0; i < columnsSorts.Length; i++)
            {
                string sortClass = Model.Paging.SortField == columnsSorts[i] ? "sorted-" + Model.Paging.SortDirection : null;
                
                <th><a href="#" data-sortfield="@columnsSorts[i]" class="header @sortClass">@columnsTitles[i]</a></th>
            }
        </tr>
        @for (int j = 0; j < Model.Stats.Length; j++)
        {
            <tr class="m1">
                <td class="p1">@(j + 1 + Model.Paging.CurrentPageIndex * Model.Paging.PageSize).</td>

                <td class="f1">@Model.Stats[j].Name</td>
                <td class="d1 @(Model.Paging.SortField == "PIR" ? "sorted" : null)">@Model.Stats[j].PIR.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "OffRtg" ? "sorted" : null)">@Model.Stats[j].OffRtg.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "DefRtg" ? "sorted" : null)">@Model.Stats[j].DefRtg.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "NetRtg" ? "sorted" : null)">@Model.Stats[j].NetRtg.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "PIE" ? "sorted" : null)">@Model.Stats[j].PIE.ToString("0.00").Replace(",", ".")%</td>
                <td class="d1 @(Model.Paging.SortField == "Pace" ? "sorted" : null)">@Model.Stats[j].Pace.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "OffRebPerc" ? "sorted" : null)">@Model.Stats[j].OffRebPerc.ToString("0.0").Replace(",", ".")%</td>
                <td class="d1 @(Model.Paging.SortField == "DefRebPerc" ? "sorted" : null)">@Model.Stats[j].DefRebPerc.ToString("0.0").Replace(",", ".")%</td>
                                              
                <td class="img">
                    <img src="@Model.Stats[j].Logo" /></td>
            </tr>                                                                   
        }        
    </table>    
    <div class ="pager-align"> 
    <ul class="pagination">
         
         @for (var i = 0; i < @Model.Paging.PageCount; i++)
         {
             if (i == @Model.Paging.CurrentPageIndex)
             {
                 <li class="disabled"><a href="#">@(i + 1)</a></li>
             }
             else
             {
                  <li class="active"><a href="#" data-pageindex="@i"  class="pager" style ="cursor: auto">@(i + 1)</a></li>
             }
         }           
    </ul>
    </div>   
</div>