﻿@using WEB.Models
@model ShPlayerStatsStage
@{
    var columnsSorts = new[] { "", "Name", "FG2", "FG2A", "FG3", "FG3A", "FT", "FTA", "EFG", "TS" };
    var columnsTitles = new[] { "#", "Name", "2P%", "2PA", "3P%", "3PA", "FT%", "FTA", "EFG%", "TS%" };
}

TEAM:
    <select class="selectpicker">
         @{
         <option>@(Model.Paging.Team == null ? "*" : @Model.Paging.Team)</option>
             if ((Model.Paging.Team != null) && (Model.Paging.Team != "*"))
             {
                 <option>*</option>
             }
         }
        @for (int k = 0; k < Model.Teams.Length; k++)
        {
            if (Model.Teams[k] != Model.Paging.Team)
            {
                <option>@Model.Teams[k]</option>
            }
        }
     </select>

<div class="index-traditional-stats" data-link-url="/Home/ShootingPart">
    <table class="server-sortable">
        <tr>
            @for (int i = 0; i < columnsSorts.Length; i++)
            {
                string sortClass = Model.Paging.SortField == columnsSorts[i] ? "sorted-" + Model.Paging.SortDirection : null;
                
                <th><a href="#" data-sortfield="@columnsSorts[i]" class="header @sortClass">@columnsTitles[i]</a></th>
            }
        </tr>
        @for (int j = 0; j < Model.Stats.Length; j++)
        {
            <tr class="m1">
                <td class="p1">@(j + 1 + Model.Paging.CurrentPageIndex * Model.Paging.PageSize).</td>

                <td class="f1">@Model.Stats[j].Name</td>
                <td class="q1 @(Model.Paging.SortField == "FG2" ? "sorted" : null)">@Model.Stats[j].FG2.ToString("0.0").Replace(",",".")%</td>
                <td class="q1 @(Model.Paging.SortField == "FG2A" ? "sorted" : null)">@Model.Stats[j].FG2A</td>
                <td class="q1 @(Model.Paging.SortField == "FG3" ? "sorted" : null)">@Model.Stats[j].FG3.ToString("0.0").Replace(",",".")%</td>
                <td class="q1 @(Model.Paging.SortField == "FG3A" ? "sorted" : null)">@Model.Stats[j].FG3A</td>
                <td class="q1 @(Model.Paging.SortField == "FT" ? "sorted" : null)">@Model.Stats[j].FT.ToString("0.0").Replace(",",".")%</td>
                <td class="q1 @(Model.Paging.SortField == "FTA" ? "sorted" : null)">@Model.Stats[j].FTA</td>
                <td class="q1 @(Model.Paging.SortField == "EFG" ? "sorted" : null)">@Model.Stats[j].EFG.ToString("0.0").Replace(",",".")%</td>
                <td class="q1 @(Model.Paging.SortField == "TS" ? "sorted" : null)">@Model.Stats[j].TS.ToString("0.0").Replace(",",".")%</td>
                <td class="img">
                    <img src="@Model.Stats[j].TeamLogo" /></td>
            </tr>                                                                   
        }        
    </table>    
    <div class ="pager-align"> 
    <ul class="pagination">
         
         @for (var i = 0; i < @Model.Paging.PageCount; i++)
         {
             if (i == @Model.Paging.CurrentPageIndex)
             {
                 <li class="disabled"><a href="#">@(i + 1)</a></li>
             }
             else
             {
                  <li class="active"><a href="#" data-pageindex="@i"  class="pager" style ="cursor: auto">@(i + 1)</a></li>
             }
         }           
    </ul>
    </div>   
</div>

