﻿@using WEB.Models
@model TrTeamStatsStage
@{
    var columnsSorts = new[] { "", "Name", "PPG", "RPG", "APG", "SPG", "BPG", "FG2", "FG3", "FT" };
    var columnsTitles = new[] { "#", "Name", "PPG", "RPG", "APG", "SPG", "BPG", "FG2%", "FG3%", "FT%" };    
}  
   

<div class="index-traditional-stats" data-link-url="/Home/TeamsPart">
     
    <table class="server-sortable">      
        <tr>
            @for (int i = 0; i < columnsSorts.Length; i++)
            {
                string sortClass = Model.Paging.SortField == columnsSorts[i] ? "sorted-" + Model.Paging.SortDirection : null;
                
                <th><a href="#" data-sortfield="@columnsSorts[i]" class="header @sortClass">@columnsTitles[i]</a></th>
            }
        </tr>
        @for (int j = 0; j < Model.Stats.Length; j++)
        {
            <tr class="m1">
                <td class="p1">@(j + 1 + Model.Paging.CurrentPageIndex * Model.Paging.PageSize).</td>

                <td class="f1">@Model.Stats[j].Name</td>
                <td class="d1 @(Model.Paging.SortField == "PPG" ? "sorted" : null)">@Model.Stats[j].PPG.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "RPG" ? "sorted" : null)">@Model.Stats[j].RPG.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "APG" ? "sorted" : null)">@Model.Stats[j].APG.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "SPG" ? "sorted" : null)">@Model.Stats[j].SPG.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "BPG" ? "sorted" : null)">@Model.Stats[j].BPG.ToString("0.00").Replace(",", ".")</td>
                <td class="d1 @(Model.Paging.SortField == "FG2" ? "sorted" : null)">@Model.Stats[j].FG2.ToString("0.00").Replace(",", ".")%</td>
                <td class="d1 @(Model.Paging.SortField == "FG3" ? "sorted" : null)">@Model.Stats[j].FG3.ToString("0.00").Replace(",", ".")%</td>
                <td class="d1 @(Model.Paging.SortField == "FT" ? "sorted" : null)">@Model.Stats[j].FT.ToString("0.00").Replace(",", ".")%</td>                               
                <td class="img">
                    <img src="@Model.Stats[j].Logo" /></td>
            </tr>                                                                   
        }        
    </table>    
    <div class ="pager-align"> 
    <ul class="pagination">
         
         @for (var i = 0; i < @Model.Paging.PageCount; i++)
         {
             if (i == @Model.Paging.CurrentPageIndex)
             {
                 <li class="disabled"><a href="#">@(i + 1)</a></li>
             }
             else
             {
                  <li class="active"><a href="#" data-pageindex="@i"  class="pager" style ="cursor: auto">@(i + 1)</a></li>
             }
         }           
    </ul>
    </div>   
</div>