﻿@using WEB.Models
@model TopBlock
@helper groupid(int i)
{
	@(Model.Id + "-" + i);
}

<div class="index-top-players">
	<div class="title">@Model.Title</div>
	<div role="tabpanel">

		<ul class="nav nav-tabs" role="tablist">
			@for (int i = 0; i < Model.Groups.Length; i++)
			{
				<li role="presentation" class="@(i==0?"active":null)">
					<a href="#@groupid(i)" aria-controls="@groupid(i)" role="tab" data-toggle="tab">
						@Model.Groups[i].Title
					</a>
				</li>
			}
		</ul>

		<div class="tab-content">
		@for (int tabNum = 0; tabNum < Model.Groups.Length; tabNum++)
		{
			var items = Model.Groups[tabNum].Items;
			var top1 = items[0];

			<div role="tabpanel" class="tab-pane fade @(tabNum == 0 ? "in active" : null)" id="@groupid(tabNum)">	

				<table>
					@for (int i = 0; i < items.Length; i++)
					{
						TopBlockItem item = items[i];
						<tr>
							<td class="num">@(i + 1)</td>
							<td class="img"><img src="@item.Image" /></td>
							<td>
								<div class="name">@item.Name</div>
								<div class="team">@item.TeamName</div>
							</td>
							<td class="value">@item.Value</td>
						</tr>
					}
				</table>
			</div>
		}
		</div>
	</div>
</div>

