﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Euroleague Stats</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
	<header class="center-fixedw">Euroleague Stats</header>

	<div class="center-fixedw menu">
		@Html.Partial("_Menu")
	</div>

	<div class="center-fixedw">
		@RenderBody()
	</div>

	<footer class="center-fixedw">
		<p>&copy; @DateTime.UtcNow.Year</p>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/pie.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
	@Scripts.Render("~/app")    
    @RenderSection("scripts", required: false)   
</body>
</html>
