﻿@using Resources;

@helper ActiveOn(params string[] actions)
{
	@(actions.Contains((string)ViewBag.Menu) ? "active" : null)
}

<div class="navbar navbar-inverse">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">

            <li>@Html.ActionLink(Str.MENU_HOME, "Index", "Home")</li>

            <li>@Html.ActionLink(@Str.MENU_GAMES, "Games", "Home")</li>

			<li class="dropdown @ActiveOn("Traditional", "Shooting")">
				@Html.ActionLink(@Str.MENU_STATS, "Traditional", "Home")
				<ul class="dropdown-menu" role="menu">
					<li>@Html.ActionLink(Str.MENU_STATS_TRADITIONAL, "Traditional", "Home")</li>
					<li>@Html.ActionLink(Str.MENU_STATS_SHOOTING, "Shooting", "Home")</li>
				</ul>
			</li>

			<li class="dropdown @ActiveOn("Possessions", "AdvancedOffDef")">
				@Html.ActionLink(@Str.MENU_ADVANCED, "Possessions", "Home")
				<ul class="dropdown-menu" role="menu">
					<li>@Html.ActionLink(Str.MENU_ADV_POSSESSIONS, "Possessions", "Home")</li>
					<li>@Html.ActionLink(Str.MENU_ADV_OFF_DEF, "Advanced", "Home")</li>
				</ul>
			</li>			

            <li class="dropdown @ActiveOn("Offence", "Defence")">
				@Html.ActionLink(@Str.MENU_TEAMS, "Teams", "Home")
				<ul class="dropdown-menu" role="menu">
					<li>@Html.ActionLink(Str.MENU_STATS_TRADITIONAL, "Teams", "Home")</li>
					<li>@Html.ActionLink(Str.MENU_ADVANCED, "TeamsAdvanced", "Home")</li>
				</ul>
			</li>

			<li>@Html.ActionLink(@Str.MENU_PLAYERS, "Players", "Home")</li>
            <li>@Html.ActionLink(@Str.MENU_GLOSSARY, "Glossary", "Home")</li>
            <li>@Html.ActionLink(@Str.MENU_CONTACTS, "Contacts", "Home")</li>
			

		</ul>
		@*Html.Partial("_LoginPartial")*@
	</div>
</div>
