﻿
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900|Oswald:100,200,300,400,500,600,700,800,900|Bitter:100,200,300,400,500,600,700,800,900|Acme:400|Oswald:400,700|Open+Sans:400,700,800&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);


body {
    padding-bottom: 20px;
	background: #000 url(/content/images/basketstats_bg1.jpg) center top no-repeat;
}
input, select, textarea {
    max-width: 280px;
}



.center-fixedw {
	width: 1010px;
	margin: 0 auto;
}
.center-content {
	background-color: white;
	padding: 5px;
}
header {
    visibility: hidden;
	background-color: hsl(220, 40%, 44%);
	color: white;
	padding: 40px 60px;
	font-size: 26px;
	font-weight: bold;
    text-align: center;
}

.center-fixedw.menu {
	margin-top: 15px;
}
.navbar {
	margin-bottom: 6px;
}

footer {
	margin-top: 20px !important;
	color: #bbb;
}


.navbar {
	min-height: 30px;
}
.navbar-inverse {
	background-color: hsl(220, 40%, 53%);
	background-image: linear-gradient(to bottom,hsl(220, 40%, 53%) 0,hsl(220, 40%, 38%) 100%);
	border-color: hsl(220, 40%, 38%);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
	background-color: hsl(220, 40%, 38%);
	background-image: none;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover
 {
	background-color: hsl(220, 40%, 38%);
	background-image: none;
	box-shadow: inset 0 3px 9px hsla(0, 0%, 0%, 0.25);
}
.navbar-inverse .navbar-nav > li > a {
	color: hsl(0, 0%, 90%);
}
.navbar a {
	font: 17px 'Oswald', sans-serif;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-menu > li > a {
	font-size: 14px;
}
.dropdown-menu > li > a:hover {
	background: hsl(220, 40%, 53%);
	color: hsl(0, 0%, 100%);
	/*box-shadow: inset 0 3px 9px hsla(0, 0%, 0%, 0.25);*/
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}




h1 {
	padding-left: 30px;
}


.top1-news-item {
	display: block;
	height: 370px;
    width: 480px;
    margin-left: 10px;
    margin-top: 5px;
	background: no-repeat;
    background-position: top;
	position: relative;
    background-color: #FAFAFA;
}
.top2-news-item {
	display: block;
	height: 105px;
    width: 480px;
	background: no-repeat;	
	position: relative;
	margin-top: 5px;
    margin-left: 10px;
    background-color: #FAFAFA;
}
.top1-news-item .box, .top2-news-item .box {
	position: absolute; bottom: 0; left: 0; right: 0;
	height: 100px;
	background-color: black;
	opacity: 0.4;
	padding: 3%;
}
.top1-news-item .title {
	position: absolute; top: 305px; left: 5px;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: bold;   
}

a:hover

.top1-news-item .title a:hover, .top2-news-item .title a:hover {	
	text-decoration-color: blue;	
}

.top2-news-item .box {
	height: 50px;
}
.top2-news-item .title {
	padding-top: 20px; padding-left: 210px; padding-right: 10px;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;       
}



.index-col1 {
	float: left;
	width: 500px;
}
.index-col1-small {
	float: left;
	width: 480px;
}
.index-col1-half {
	float: left;
	width: 50%;
}
.index-col2 {
	float: left;
	width: 250px;
}
.index-col3 {
	float: left;
	width: 250px;
}

.other-page-center {
	float: left;
	width: 725px;
}
.other-page-aside {
	float: left;
	width: 275px;
}
.other-page-stats {
	float: left;
	width: 725px;    
}

.boxscore-stats {
   float: left;
   position: relative;
   right: -5%;  
   width: 90%;    
}



.index-top-players {
	/*padding: 0 5px;*/
	margin-left: 5px;
	margin-top: 5px;
}
.index-page .index-top-players {
	height: 325px;
}
.index-top-players .title {
	background-color: hsl(220, 40%, 44%); /* hsl(220, 24%, 49%), hsl(220, 56%, 65%) */
	color: white;
	padding: 5px 10px;	
	font-weight: bold;
}
.index-top-players table {
	width: 96%;
	margin: 2%;
}
.index-top-players td {
	padding: 2px;
}
.index-top-players td.num {
	width: 15px;
}
.index-top-players td.img {
	width: 40px;
}
.index-top-players td img {
	max-width: 40px;
}
.index-top-players td.value {
	width: 20px;
	padding-right: 6px;
}
.index-top-players .name {
	font-size: 12px;
}
.index-top-players .team {
	font-size: 9px;
	color: gray;
}

.index-top-players .top1_img {
	float: left;
	max-width: 100px;
}
.index-top-players .top1_name {
	font-size: 18px;
	font-weight: bold;
}
.index-top-players .top1_value {
	float: left;
	font-size: 26px;
}
.index-top-players .top1_team {
	float: right;
	margin-right: 5px;
	max-height: 30px;
}
.index-top-players .nav.nav-tabs {
	margin-top: 4px;
}
.index-top-players .nav-tabs > li > a {
	padding: 2px 5px;
}
.index-top-players .tab-content {
	padding-top: 7px;
}






.index-results {
	height: 325px;
	/*padding: 0 5px;*/
	margin-left: 5px;
}
.index-results .center-wrap {
	height: 270px;
    display: table;
    width: 100%;
}
.index-results .center-inner {
    vertical-align:middle;
    display: table-cell;
}
.index-results .title {
	background-color: #eee;
	color: #44629d;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
}
.index-results table {
	width: 100%;
	margin-top: 4px;
    table-layout: fixed;
}
.index-results .t1 {
	width: 33%;
	text-align: left;
    font-size: 12px;
    padding-left: 4px;
}
.index-results .s1 {
	width: 6%;
	text-align: right;
    font-size: 12px;    
}
.index-results .s2 {
	width: 6%;
    font-size: 12px;     
}
.index-results .s3 {	
     font-size: 12px; 
     width: 2%;    
}
.index-results .t2 {
	width: 35%;
    font-size: 12px; 
    text-align: right;   
}

.index-results td img {	
    max-width: 25px;         
}
.index-results td {
    padding-bottom: 3px;
}

.index-results .group_title {
	background-color: #eee;
	border-top: 1px solid #ddd;
	padding: 3px 10px;
    margin-bottom: 12px;
}
.index-results-tours .win {
    font-weight: bold;
}

.index-results-tours {
    margin-bottom: 30px;
}

.index-results-tours td img {
	max-width: 35px; 
}

.index-results-tours td img {
	float: left;    
}

.index-results-tours .date {	
}

.index-results-tours .m1 {
	background-color: #f0f0f0;  
}

.index-results-tours .m1:nth-child(odd) {background-color: white}



.index-traditional-stats {
    padding-top: 3px;
    border-top-color: black;
    border-top-style: outset;
    border-top-width: 1px;
}

.index-traditional-stats td img {
	max-width: 30px;  
    float: right;  
}

.index-traditional-stats .t1 {
	width: 30%;
    text-align: left;
}

.index-traditional-stats .c1 {
	width: 7.6%;  
    text-align: center;  
}

.index-traditional-stats .p1 {
	width: 3%;    
}

.index-traditional-stats .s1 {
	width: 10%;    
}

.index-traditional-stats .q1 {
	width: 7.6%;
    text-align: center;    
}

.index-traditional-stats .d1 {
	width: 9%;
    text-align: center;    
}

index-traditional-stats table {
    margin-top: 40px;
}


.index-traditional-stats .m1 {
    background-color: #f0f0f0;  
}

.index-traditional-stats .m1:nth-child(odd) {background-color: white}

.index-traditional-stats .sorted {
    font-weight: bold;
    background-color: rgba(221, 221, 221, 0.54); 
    border-color: white;
    border: thick;
}

.index-traditional-stats .f1 {
    
    color: #333333;    
}

.server-sortable th {
    text-align: center;
}



.boxscore {
    padding-top: 3px;
    border-top-color: black;
    border-top-style: outset;
    border-top-width: 1px;
    font-family: 'Source Sans Pro' !important;
    font-style: normal;
    font-weight: 400;    
}

.boxscore .z1 img {
    max-width: 40px;    
    margin-top: 7px;
    margin-left: 5px;
}

.boxscore .z1 {
   height: 40px;
}

.boxscore td img {
    max-width: 30px;
    float: left;
}


.boxscore .f1 {
	width: 25%;
    text-align: left;
    font-size: 12px;
   
}

.boxscore .p1 {
	width: 4%;
    text-align: center;     
}

.boxscore .d1 {
	width: 6%;
    text-align: center;    
}

.boxscore .t1 {
	width: 7.7%;
    text-align: center;    
}
.boxscore .y1 {	
    width: 25%;
    text-align: center;
    font-size: 12px;  
}


.boxscore .five {
    font-weight: bold;
}


.boxscore table {
    margin-top: 20px;
}

.boxscore .m1 {
    background-color: #f0f0f0;  
}

.boxscore .m1:nth-child(odd) {background-color: white}

.boxscore .s1 {
    border-top-color: black;
    border-top-style: outset;
    border-top-width: 1px;    
}

.boxscore .sorted {
    font-weight: bold;
    background-color: rgba(221, 221, 221, 0.54); 
    border-color: white;
    border: thick;
}

.boxscore .f1 {    
    color: #333333;    
}

.boxscore th {
    text-align: center;
    background-color: hsl(220, 40%, 44%);
    color: hsl(0, 17%, 98%);
    font-size: 13px;
    margin-bottom: 5px;
}

.boxscore th .z1{
    width: 500px;
}

.boxscore .b1 {
    background-color: rgb(236, 236, 236);
}

.boxscore .b2 {
    background-color: rgb(3, 89, 0);
}

h4 {
    text-align: center;
    text-decoration: underline;   
}

.gameinfo {
    font-style: italic;
    font-size: 13px;
}

.game-info {
    
}



.index-standings {
	padding: 0;
	margin-top: 5px;
}
.index-standings .title {
	background-color: #eee;
	color: #44629d;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
}
.index-standings img {
	max-width: 31px;
    margin-bottom: 2px;
}
.index-standings td {
	padding: 2px 5px;
}
.index-standings .s1 {
    font-size: 12px;  
}
.index-standings .t1 {
	width: 10%;
	text-align: center;
    font-size: 12px;    
    margin-right: 5px;
}
.index-standings table {
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.index-standings .group_title {
	background-color: #eee;
	border-top: 1px solid #ddd;
	padding: 3px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.index-standings .group_title.next {
	 margin-top: 40px;
     margin-bottom: 10px;
}

.index-standings tr {
    background-color: #f0f0f0;      
}

.index-standings tr:nth-child(odd) {background-color: white}




.col1-banner {
	height:130px;
	background-color: #eef;
	padding: 1%;
	margin-top: 5px;
}
.col2-banner {
	height: 50px;
	background-color: #eef;
	padding: 1%;
}

.pager {
    margin: 0px;    
}

.pager-align {
    float: right;
}

.pagination {
    font-size: 12px;
}




.navbar-right {
	margin-right: 0;
}

.games-page-tabs {
	margin-top: 20px;
	margin-right: 40px;
}
.games-page-tabs > li > a {
	padding: 5px 10px;
}


.games-tours .tour {
	width: 90%;
	margin-left: 5%;
}
.games-tours .tour .title {
	font-size: 16px;
}
.games-tours table {
	width: 100%;
	margin-top: 5px;
}
.games-tours .t1 {
	width: 34%;
	text-align: right;
    padding-right: 10px;
}
.games-tours .s1 {
	width: 8%;
	text-align: center;    
}

.games-tours .colon {
	padding: 0;
}
.games-tours .s2 {
	width: 6%;
}
.games-tours .t2 {
	width: 34%;
    padding-left: 10px;
}
.games-tours .group_title {
	background-color: #43619D;
    color: white;
	border-top: 1px solid #ddd;
    text-align: center;
	padding-left: 70px;
	font: bold 14px Arial;
	margin-top: 10px;   
}
.games-tours .group_title.next {
	margin-top: 5px;
}
.games-tours td {
    padding: 3px;
    font: 12px Arial;
}




.sorted-desc:after {
    content: '▼';
    color: green;
    font-size: 13px;
}
.sorted-asc:after {
    content: '▲';
    color: green;
    font-size: 13px;
}

.selectpicker {
  background-color: #f0f0f0;
  border-color: rgb(9, 177, 226);
  border-style: solid;
  color: black;
  margin-bottom: 10px;  
  margin-left: 10px;
  padding-left: 5px;  
  font: 14px Arial;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {border-top:4px solid white;}

.index-top-players tr {
    background-color: #f0f0f0;  
}

.index-top-players tr:nth-child(odd) {background-color: white}

#chartdiv {
	width		: 100%;
	height		: 300px;
	font-size	: 11px;
}		

#chartdiv1 {
	width		: 100%;
	height		: 300px;
	font-size	: 11px;
}

#chartdiv2 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
    float: left;
}			

#chartdiv2 a{
    font-size: 0!important;
}

#chartdiv3 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;

}			

#chartdiv3 a{
    font-size: 0!important;
}

#chartdiv4 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;
}			

#chartdiv4 a{
    font-size: 0!important;
}

#chartdiv5 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;
}			

#chartdiv5 a{
    font-size: 0!important;
}

#chartdiv6 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;
}			

#chartdiv6 a{
    font-size: 0!important;
}

#chartdiv7 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;
}			

#chartdiv7 a{
    font-size: 0!important;
}

#chartdiv8 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
        float: left;
}			

#chartdiv8 a{
    font-size: 0!important;
}

#chartdiv9 {
	width		: 25%;
	height		: 200px;
	font-size	: 11px;
    float: left;
    background: linear-gradient(white, rgb(242, 242, 242));
}			

#chartdiv9 a{
    font-size: 0!important;
}

#chartdiv10 {
    width: 100%;
    height: 400px;
    font-size: 11px;
}		

#chartdiv10 a{
    font-size: 0!important;
}


.index-top-charts {
	/*padding: 0 5px;*/
	margin-left: 5px;
	margin-top: 10px;
}
.index-page .index-top-charts {
	height: 325px;
}
.index-top-charts .title {
	background-color: hsl(220, 40%, 44%); /* hsl(220, 24%, 49%), hsl(220, 56%, 65%) */
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
}


.players-stats .team {
    width: 24%;    
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: rgb(244, 244, 244);
    height: 100%;    
}

.players-stats {
   width: 100%;  
   display: table; 
   text-align: center;
}


.players-stats table {
   width: 100%;    
}

.players-stats img {
	max-width: 100px;
    padding-bottom: 10px;
}

.players-stats tr {
	height: 25px;
}

.players-stats td img {
	max-width: 100%;
}

.players-stats .pl {
	font-size: 12px;
    width: 80%;
    text-align: center;
}

.players-stats a {
    color: black;
}


.player {
    text-align: left;
    width: 100%;
    height: 180px;
    background-color: rgb(253, 253, 253);
}

.player img {
    min-width: 20%;
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}

.player table {
    float: left;
    width: 70%;
    margin-left: 100px;
}

.player table tr {
    height: 45px;    
}

.player table td {  
    font: 24px;  
    width: 50%; 
}


.news-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: justify;
}

.news-content img {
    min-width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.news-page-center {
	float: left;
	width: 650px;
}
.news-page-aside {
	float:left;
	width: 350px;
}

.news-content .news-top {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.twitter {
    padding-top: 15px;
}








